* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.fontAwesome{
    font-family: Helvetica, 'FontAwesome', sans-serif;
}
#wrapper {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    justify-content: space-between;
    width: 1440px;
}

#left {
    width: 90px;
    height: 870px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#left_above {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -30px;
}

#left_above div a:hover{
    background-color: rgb(212, 228, 243);
    padding: 0 15px;
    padding-top: 30px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#below {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item {
    width: 32px;
    margin-top: 50px;
    
}

#setting {
    margin-top: 36px;
    cursor: pointer;
}

#center {
    width: 900px;
    margin-left: 20px;
}

#center .title {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.title .meeting_title {
    font-weight: 700;
    font-size: 25px;
}

.title .redcore {
    border: 1px solid red;
    color: red;
    padding: 8px 20px;
    border-radius: 20px;
}

.internal_sep {
    display: flex;
    margin-top: 30px;
}

.internal_sep .internal {
    background-color: rgb(210, 0, 112);
    color: white;
    padding: 7px 10px;
    border-radius: 20px;
    display: flex;
}

.internal_sep .sep,
.internal_sep .time {
    padding: 7px 10px;
    margin-left: 10px;
}

.internal_sep .line {
    margin-left: 10px;
    padding: 7px 10px;
    color: gray;
}

.img #img_big {
    margin-top: 40px;
    margin-bottom: 20px;
    position: relative;
}

.img #img_big .div_name{
    position: absolute;
    top: 20px;
    left: 20px;
}

.img #img_big .div_name img{
    position: absolute;
    left: 780px;
    top: -8px;
}



.img #img_big img {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.img #img_small img {
    border-radius: 8px;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.mic, .cam, .loa,
.end_meeting, .computer,
.share, .cham{
    cursor: pointer;
    margin-left: 20px;
}

.end_meeting{
    background-color: red;
    color: white;
    border-radius: 3px;
    padding: 0 15px;
}

.end_meeting p{
    margin-top: 15px;
}


#right {
    width: 440px;
    margin-left: 50px;
    border-left: 1px solid gray;
}

#right .right_top{
    border-bottom: 1px solid gray;
}

.right_top .header,
.header1,.header2,.header3,.header4{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    margin-left: 20px;
}

.header .add{
    border: 1px solid red;
    padding: 10px 18px;
    margin-top: -10px;
    border-radius: 5px;
}

.header .add a{
    text-decoration: none;
    color: red;
}

.right_top .meeting_title {
    font-weight: 700;
    font-size: 25px;
    padding-right: 50px;
}

.right_top .meeting_title a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    margin-left: 5px;
    background-color: rgb(255, 233, 233);
    color: red;
    padding: 5px 10px;
    border-radius: 15px;
}


.header1 .header11,
.header2 .header11,
.header3 .header11,
.header4 .header11{
    display: flex;
}

.header1 .header11 p,
.header2 .header11 p,
.header3 .header11 p,
.header4 .header11 p{
    margin-top: 10px;
    margin-left: 10px;
}

.header1 .icon,
.header2 .icon,
.header3 .icon,
.header4 .icon{
    margin-top: 8px;
    cursor: pointer;
  }
  
.header1 .icon .icon2,
.header2 .icon .icon2,
.header3 .icon .icon2,
.header4 .icon .icon2{
  padding: 0 10px;
}

.right_chat{
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.chat{
    margin-top: 20px;
    
    font-weight: 550;
}

.chat, .chat1, .chat2, .chat3, .chat4, .chat5{
    margin-left: 20px;
}

.name{
    display: flex;
}

.name_time{
    margin-left: 10px;
    margin-top: 10px;
    color: grey;
    font-size: 14px;
}

.name_time p{
    font-weight: 550;
    color: black;
    font-size: 15px;
}

.text{
    text-align: left;
    margin-left: 60px;
    margin-top: 5px;
    background-color: ghostwhite;
    padding: 10px 5px;
}

.chat3 .text{
    display: inline-block;
    background-color: rgb(255, 233, 233);
    padding: 10px 10px;
    border-radius: 5px;
}

.right_chat .chat5 input{
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    outline: none;
    position: relative;
    /* display: flex; */
    width: 350px;
}
