*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 1000px;   
    margin: auto;
    border: 1px solid gray;
}

#nav{
    list-style-type: none;
    display: flex;
}

#nav .nav-item{
    margin-top: 20px;
}

#nav .nav-item a{
    text-decoration: none;
    padding: 10px 20px;
}

p{
    text-align: center;
    font-size: 30px;
}

.txt{
    font-weight: 100;
}